{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="col-md-7 col-lg-8">
        <form action="/addsuccess" method="post">
            <div class="row g-3">

                <div class="col-sm-6">
                    <label for="Song" class="form-label">Song Name</label>
                    <input type="text" autocomplete="off" class="form-control" id="Song" name="song_name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid Song is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="Song Link" class="form-label">Song Link</label>
                    <input type="text" autocomplete="off" class="form-control" id="Song Link" name="link" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid Song Link is required.
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="Album Id" class="form-label">Album ID</label>
                    <input type="text" autocomplete="off" class="form-control" id="album" name="album_id" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid Song is required.
                    </div>
                </div>               

                <div class="col-sm-4">
                    <label for="Song Length" class="form-label">Song Length</label>
                    <input type="number" autocomplete="off" class="form-control" id="Song Length" name="length" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid Song Link is required.
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="Popularity" class="form-label">Popularity</label>
                        <input type="number" autocomplete="off" class="form-control" id="Popularity" name="Popularity" placeholder="" value="" min="0" max="100" required>
                        <div class="invalid-feedback">
                            Valid Popularity is required.
                        </div>
                </div>


                <div class="col-sm-4">
                    <label for="Danceability" class="form-label">Danceability</label>
                        <input type="number" autocomplete="off" class="form-control" id="Danceability" name="Danceability" placeholder="" value="" step="any" min="0" max="1" required>
                        <div class="invalid-feedback">
                            Valid Danceability is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Acousticness" class="form-label">Acousticness</label>
                        <input type="number" autocomplete="off" class="form-control" id="Acousticness" name = "acousticness" placeholder="" value="" step="any" min="0" max="1" required>
                        <div class="invalid-feedback">
                            Valid Acousticness is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Energy" class="form-label">Energy</label>
                        <input type="number" autocomplete="off" class="form-control" id="Energy" name = "Energy" placeholder="" value="" step="any" min="" max="" required>
                        <div class="invalid-feedback">
                            Valid Energy is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Instrumentalness" class="form-label">Instrumentalness</label>
                        <input type="number" autocomplete="off" class="form-control" id="Instrumentalness" name = "Instrumentalness" step="any" min="0" max="1" placeholder=""
                            value="" required>
                        <div class="invalid-feedback">
                            Valid Instrumentalness is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Liveness" class="form-label">Liveness</label>
                        <input type="number" autocomplete="off" class="form-control" id="Liveness" name = "Liveness" placeholder="" value="" step="any" min="0" max="1" required>
                        <div class="invalid-feedback">
                            Valid Liveness is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Loudness" class="form-label">Loudness</label>
                        <input type="number" autocomplete="off" class="form-control" id="Loudness" name = "Loudness" placeholder="" value="" step="any" min="" max="" required>
                        <div class="invalid-feedback">
                            Valid Loudness is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Speechiness" class="form-label">Speechiness</label>
                        <input type="number" autocomplete="off" class="form-control" id="Speechiness" name = "Speechiness" placeholder="" value="" step="any" min="0" max="1" required>
                        <div class="invalid-feedback">
                            Valid Speechiness is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="Tempo" class="form-label">Tempo</label>
                        <input type="number" autocomplete="off" class="form-control" id="Tempo" name = "Tempo" placeholder="" value="" step="any" min="" max="" required>
                        <div class="invalid-feedback">
                            Valid Tempo is required.
                        </div>
                </div>

                <div class="col-sm-4">
                    <label for="time_signature" class="form-label">Time Signature</label>
                        <input type="number" autocomplete="off" class="form-control" id="time_signature" name = "time_signature" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid Time Signature is required.
                        </div>
                </div>

                <hr class="my-4">
                <button name="submit" value="Song" class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}