{% extends "base.html" %}

{% block body %}

    <div class="container">
    <div class="col-md-7 col-lg-8"> 
    <!-- shorter -->
        <form action="/output" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <input type="submit">
        </form>
    
        <hr class="my-4">
           
    <form action="/" method="post">
        <div class="row g-3">
            <div class="col-sm-4">
                <label for="Artist" class="form-label">Artist</label>
                <input type="text" class="form-control" id="Artist" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Artist is required.
                </div>
            </div>

            <div class="col-sm-4">
                <label for="Album" class="form-label">Album</label>
                <input type="text" class="form-control" id="Album" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Album is required.
                </div>
            </div>

            <div class="col-sm-4">
                <label for="Song" class="form-label">Song</label>
                <input type="text" class="form-control" id="Song" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Song is required.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Popularity" class="form-label">Popularity</label>
                <select class="form-select" id="Popularity">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Popularity.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Danceability" class="form-label">Danceability</label>
                <select class="form-select" id="Danceability">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Danceability.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Acousticness" class="form-label">Acousticness</label>
                <select class="form-select" id="Acousticness">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Acousticness.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Energy" class="form-label">Energy</label>
                <select class="form-select" id="Energy" >
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Energy.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Instrumentalness" class="form-label">Instrumentalness</label>
                <select class="form-select" id="Instrumentalness">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Instrumentalness.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Liveness" class="form-label">Liveness</label>
                <select class="form-select" id="Liveness">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Liveness.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Loudness" class="form-label">Loudness</label>
                <select class="form-select" id="Loudness">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Loudness.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Speechiness" class="form-label">Speechiness</label>
                <select class="form-select" id="Speechiness">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Speechiness.
                </div>
            </div>

            <div class="col-md-5">
                <label for="Tempo" class="form-label">Tempo</label>
                <select class="form-select" id="Tempo">
                  <option value="">Choose...</option>
                  <option>Empty</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Tempo.
                </div>
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
    
    </div>
    </div>

{% endblock %}
