{% extends "base.html" %}

{% block body %}

    <div class="container">
    <div class="col-md-7 col-lg-8"> 
    <form action="/output" method="post">
        <div class="row g-3">
            <div class="col-sm-4">
                <label for="Artist" class="form-label">Artist</label>
                <input type="text" autocomplete="off" class="form-control" id="Artist" name="Artist" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Artist is required.
                </div>
            </div>
            <div class="col-sm-4">
                <label for="Album" class="form-label">Album</label>
                <input type="text" autocomplete="off" class="form-control" id="Album" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Album is required.
                </div>
            </div>

            <div class="col-sm-4">
                <label for="Song" class="form-label">Song</label>
                <input type="text" autocomplete="off" class="form-control" id="Song" name="Song" placeholder="" value="">
                <div class="invalid-feedback">
                  Valid Song is required.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Popularity" class="form-label">Popularity</label>
                <select class="form-select" id="Popularity" name="Popularity">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Popularity.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Danceability" class="form-label">Danceability</label>
                <select class="form-select" id="Danceability" name="Danceability">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Danceability.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Acousticness" class="form-label">Acousticness</label>
                <select class="form-select" id="Acousticness" name="Acousticness">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Acousticness.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Energy" class="form-label">Energy</label>
                <select class="form-select" id="Energy" name="Energy">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Energy.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Instrumentalness" class="form-label">Instrumentalness</label>
                <select class="form-select" id="Instrumentalness" name="Instrumentalness">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Instrumentalness.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Liveness" class="form-label">Liveness</label>
                <select class="form-select" id="Liveness" name="Liveness">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Liveness.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Loudness" class="form-label">Loudness</label>
                <select class="form-select" id="Loudness" name="Loudness">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Loudness.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Speechiness" class="form-label">Speechiness</label>
                <select class="form-select" id="Speechiness" name="Speechiness">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Speechiness.
                </div>
            </div>

            <div class="col-md-4">
                <label for="Tempo" class="form-label">Tempo</label>
                <select class="form-select" id="Tempo" name="Tempo">
                  <option value="0">Very Low</option>
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                  <option value="4">Very High</option>
                  <option value="" selected>Choose...</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid Tempo.
                </div>
            </div>
            
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
    
    </div>
    </div>

{% endblock %}
