{% extends "base.html" %}

{% block body %}

    <h1>Songs</h1>
    <table>
        <thead>
            <tr>
                <th>Album</th>
                <th>Rank</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for song in name %}
                <tr>
                    <td>{{ song[0] }}</td>
                    <td>{{ song[1] }}</td>
                    <td>{{ song[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
