{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="col-md-7 col-lg-8">
        <form action="/outputtrsong" method="post">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="From" class="form-label">Start Year</label>
                    <input type="number" autocomplete="off" class="form-control" id="From" name="From" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Valid Start Year is required.
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <label for="To" class="form-label">End Year</label>
                    <input type="number" autocomplete="off" class="form-control" id="To" name="To" placeholder="" value="">
                    <div class="invalid-feedback">
                      Valid End Year is required.
                    </div>
                </div>
    
                <div class="col-sm-4">
                  <label for="num" class="form-label">Limit</label>
                  <input type="number" autocomplete="off" class="form-control" id="num" name="num" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid Limit is required.
                  </div>
                </div>  

                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}