{% extends "base.html" %}

{% block body %}

<div class="container py-5" id="featured-3">
    <div class="row g-5 py-5">
        <div class="feature col-md-4">
            <h2>Add a Song</h2>
            <p>Add a Song</p>
            <a href="/addsong" class="icon-link">
                Add Song
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
        <div class="feature col-md-4">
            <h2>Add an Artist</h2>
            <p>Add an Artist</p>
            <a href="/addartist" class="icon-link">
                Add Artist
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
        <div class="feature col-md-4">
            <h2>Add an Album</h2>
            <p>Add an Album</p>
            <a href="/addalbum" class="icon-link">
                Add Album
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container py-5" id="featured-3">
    <div class="row g-5 py-5">
        <div class="feature col-md-4">
            <h2>Delete a Song</h2>
            <p>Delete a Song</p>
            <a href="/delete" class="icon-link">
                Delete
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container py-5" id="featured-3">
    <div class="row g-5 py-5">
        <div class="feature col-md-4">
            <h2>Search a Song</h2>
            <p>Search a Song</p>
            <a href="/search" class="icon-link">
                Search
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}